@import url(https://fonts.googleapis.com/css?family=Exo:500);

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", arial;
  word-wrap: break-word;
}

h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.header {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  width: 90%;
  margin-bottom: 1em;
}

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

body {
  background: url(../images/tile.png) repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.table-wrapper {
  width: 100%;
}

.img-wrapper {
  width: 100%;
}

.example-img {
  width: 500px;
  height: auto;
  margin-top: 1em;
  float: right;
}

@media screen and (max-width: 800px) {
  .img-wrapper {
    display: none;
  }
  .table-wrapper {
    min-width: none;
  }
}
